.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.main-screen, .App {
  color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
}

.link {
  color: #b318f0;
}

.large-form {
  margin: 2em 0;
}

.large-form label {
  display: block;
  text-align: center;
}

.large-form input, .large-form button {
  margin: 0.5em;
  width: 100%;
  display: block;
  font-size: inherit;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
